/* common code start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  /* font-family: 'Italianno', cursive; */
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #dedede;
}
#login {
  background-color: #fafaff;
  width: 350px;
  margin: 200px auto;
  border-radius: 30px;
}
/* common code end */

/* login page header start */
.login-page-hearer {
  background-color: #360d85;
  width: 100%;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  border-end-end-radius: 0px;
  border-bottom-left-radius: 0px;
  /* border-end-start-radius: 100px; */
}
.login-page-hearer h2 {
  color: white;
  font-size: 2rem;
}
.login-page-hearer p {
  font-family: "Italianno", cursive;
  color: white;
  margin-top: 10px;
  font-size: 2rem;
}
/* login page header end */
/* login page input start */
.first-icon {
  position: absolute;
  margin-top: 23px;
  margin-left: 5px;
  color: #644e76;
}
.login-page-input {
  text-align: center;
}
.login-page-input h2 {
  margin-bottom: 10px;
}
.login-page-item input {
  width: 300px;
  height: 10px;
  padding: 30px;
  background-color: #f1f1fb;
  border: none;
  border-radius: 10px;
}
.login-page-input button {
  width: 300px;
  background-color: #360d85;
  color: white;
  font-size: 1.5rem;
  border: none;
  padding: 5px;
  border-radius: 10px;
}
/* login page input end */
/* login icon start */
.login-icon {
  display: flex;
  justify-content: space-evenly;
}
.footer-icon {
  background-color: #360d85;
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-size: 1.5rem;
}
/* login icon end */
/* login footer start */
.footer-text {
  text-align: center;
  color: #948fac;
}
.footer-text hr {
  width: 300px;
  margin-left: 15px;
  color: #948fac;
}
/* login footer end */
